# Node.js / Express
node_modules/
*.log
.env
coverage/
*.env

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/.angular/cache/
frontend/src/environments/environment.prod.ts
